# Игнорирование директории IDE
.idea/

# Игнорирование зависимостей и модулей
node_modules/

# Игнорирование директории архивов
zip/

# Игнорирование файлов и папок, специфичных для Mac OS
.DS_Store

# Игнорирование файла журнала aero-debug.log
aero-debug.log

# Игнорирование архива aero-deploy.tar.gz
aero-deploy.tar.gz

# Игнорирование файла package-lock.json
package-lock.json

# Дополнительные файлы и папки, которые следует игнорировать
