extends pug/base

append vars
	- title = "RATORA Group (РАТОРА Групп) – оснащение объектов малого и среднего бизнеса в сегменте HoReCa и Retail"
	- meta.viewport = "width=1170, initial-scale=1"


block content
	header.main-header
		.template-wrapper.header-wrapper
			a#header.main-logo
				+svg_import("logo")
			nav.main-nav
				ul.main-nav__list
					+menu-list-item('#direction', 'Направления', 'active')
					+menu-list-item('#service', 'Услуги')
					+menu-list-item('#goods', 'Товары')
					+menu-list-item('#objects', 'Объекты')
					+menu-list-item('#about', 'О компании')
					+menu-list-item('#contacts', 'Контакты')
			.main-phone
				a.header-phone(href='tel:89089999900') +7 (908) 999-99-00
				a.callback(href='#callback-popup') Заказать звонок
		.template-wrapper.header-information
			.header-information__title
				| Комплексное оснащение
				| и проектирование
			.header-information__prev-text
				| в сегменте HoReCa и Retail
			.header-information__services
				.header-information__services-item
					| продажа товаров
					| со&nbsp;склада и&nbsp;на&nbsp;заказ
				.header-information__services-item
					| профессиональное консультирование по&nbsp;подбору оборудования
				.header-information__services-item
					| доставка и&nbsp;монтаж оборудования
	main.main-content
		section.stock-slider
			.template-wrapper.stock-slider-wrapper
				.stock-slider__list.js-stock-slider
					.stock-slider__item
						img.stock-slider__img(src="images/stock.jpg" alt="Акция 1")
						a.btn.btn-more(href="#")
							span Подробнее
					.stock-slider__item
						img.stock-slider__img(src="images/stock.jpg" alt="Акция 2")
						a.btn.btn-more(href="#")
							span Подробнее
					.stock-slider__item
						img.stock-slider__img(src="images/stock.jpg" alt="Акция 3")
						a.btn.btn-more(href="#")
							span Подробнее
		section.activities
			.template-wrapper.activities-wrapper
				h2.main-title Направления деятельности
				.activities__list
					.activities__list-item
						.activities__information.activities__information_1
							.activities__title
								| HoReCa
							.activities__text
								| Оснащение ресторанов, кафе, пицерий, кофеен, столовых, баров, заведений быстрого питания и&nbsp;стритфудов&nbsp;&mdash; работа, за&nbsp;качество которой мы&nbsp;можем поручиться.
						.activities__image
							picture.activities__picture
								source(srcset='images/activities-1.webp' type='image/webp')
								img(src='images/activities-1.jpg' alt='HoReCa')
					.activities__list-item
						.activities__information.activities__information_2
							.activities__title
								| BACERY
							.activities__text
								| Профессиональное
								| оборудование и&nbsp;инвентарь
								| ведущих производителей
								| для хлебопекарных производств
								| и&nbsp;кондитерских цехов
						.activities__image
							picture.activities__picture
								source(srcset='images/activities-2.webp' type='image/webp')
								img(src='images/activities-2.jpg' alt='BACERY')
					.activities__list-item
						.activities__information.activities__information_3
							.activities__title
								| LAUNDRY
							.activities__text
								| Профессиональное прачечное оборудование: стиральные
								| и&nbsp;сушильные машины, гладильное, финишное и&nbsp;упаковочное
								| оборудование, аксессуары
								| и&nbsp;моющие средства.
						.activities__image
							picture.activities__picture
								source(srcset='images/activities-3.webp' type='image/webp')
								img(src='images/activities-3.jpg' alt='LAUNDRY')
					.activities__list-item
						.activities__information.activities__information_4
							.activities__title
								| RETAIL
							.activities__text
								| Профессиональное прачечное
								| оборудование: стиральные
								| и&nbsp;сушильные машины, гладильное,
								| финишное и&nbsp;упаковочное
								| оборудование, аксессуары
								| и&nbsp;моющие средства.
						.activities__image
							picture.activities__picture
								source(srcset='images/activities-4.webp' type='image/webp')
								img(src='images/activities-4.jpg' alt='RETAIL')
					.activities__list-item
						.activities__information.activities__information_5
							.activities__title
								| МЯСОПЕРЕРАБОТКА
							.activities__text
								| Оснащение ресторанов, кафе, пицерий, кофеен, столовых,
								| баров, заведений быстрого питания и&nbsp;стритфудов&nbsp;&mdash; работа,
								| за&nbsp;качество которой мы&nbsp;можем поручиться.
						.activities__image
							picture.activities__picture
								source(srcset='images/activities-5.webp' type='image/webp')
								img(src='images/activities-5.jpg' alt='МЯСОПЕРЕРАБОТКА')
					.activities__list-item
						.activities__information.activities__information_6
							.activities__title
								| ЗАПЧАСТИ (ЗИП)
							.activities__text
								| Оснащение ресторанов, кафе, пицерий, кофеен, столовых, баров, заведений быстрого питания
								| и&nbsp;стритфудов&nbsp;&mdash; работа,
								| за&nbsp;качество которой мы&nbsp;можем поручиться.
						.activities__image
							picture.activities__picture
								source(srcset='images/activities-6.webp' type='image/webp')
								img(src='images/activities-6.jpg' alt='ЗАПЧАСТИ (ЗИП)')
		section.services
			.template-wrapper
				h2.main-title Полный комплекс услуг
				.services-tabs
					.services-tabs__list-block
						ul.services-tabs__list
							li(data-section="services-section1").services-tabs__list-item.active
								.services-tabs__icon
									| <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									|      viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
									| <style type="text/css">
									|     .services-svg{fill: #292929;}
									| </style>
									| <g>
									|     <path class="services-svg" d="M186.3,93.4h-3.2l1.9-1.9l0.1-0.1c1.5-1.5,2.3-3.4,2.3-5.5c0-2.1-0.8-4.1-2.3-5.5l-3.2-3.2c-3.1-2.9-7.9-3-11,0l-16.2,16.2
									|         h-53.7c-4.4,0-7.9,3.6-7.9,7.9v16.4l-8.3,8.3c-0.6,0.6-1,1.5-1,2.3c0,0.9,0.3,1.7,1,2.3l8.3,8.3v22.4c0,4.4,3.6,7.9,7.9,7.9h22.4
									|         l17.5,17.5c0.6,0.6,1.5,1,2.3,1s1.7-0.3,2.3-1l13.2-13.2c1.2-1.2,1.3-3,0.3-4.3h17.1v10.5c0,1.8,1.5,3.3,3.3,3.3h6.9
									|         c5.3,0,9.7-4.1,10.2-9.2h0.1v-70.2C196.5,98,191.9,93.4,186.3,93.4z M99.6,120.8v-0.3l0.6-0.6l4.9,4.9l-5,5l4.7,4.7l5-5l4.6,4.6
									|         l-5,5l4.7,4.7l5-5l4.6,4.6l-5,5l4.7,4.7l5-5l4.6,4.6l-5,5l4.7,4.7l5-5l4.6,4.6l-5,5l4.7,4.7l5-5l4.9,4.9l-8.5,8.5l-51.4-51.4
									|         l7.6-7.6H99.6z M102.6,112.8c-0.8-0.8-1.9-1.1-3-0.9v-10.6c0-0.7,0.6-1.3,1.3-1.3H148l-12.3,12.3c-0.1,0.1-0.2,0.3-0.3,0.4
									|         l-0.2-0.1l-5.1,15.3c-0.1,0.3-0.2,0.7-0.2,1c0,1.5,1,2.7,2.3,3.1v0.2h1c0,0,0,0,0,0h35.6v-6.6h-18.1l25.7-25.7h9.8
									|         c2,0,3.6,1.6,3.6,3.6v59.7c-1.1-0.4-2.3-0.7-3.6-0.7h-33.9L102.6,112.8z M138.5,123.8l1-3l2,2L138.5,123.8z M171.4,85.9l4-4
									|         c0.5-0.5,1.2-0.5,1.7,0l3.2,3.2c0.2,0.2,0.4,0.5,0.4,0.9c0,0.3-0.1,0.6-0.4,0.9l-4,4L171.4,85.9z M171.6,95.5l-24,24l-4.9-4.9
									|         l24-24L171.6,95.5z M186.3,176.5h-3.6v-7.2h3.6c2,0,3.6,1.6,3.6,3.6S188.3,176.5,186.3,176.5z M99.6,145.6l17.1,17.1h-15.8
									|         c-0.7,0-1.3-0.6-1.3-1.3V145.6z"/>
									|     <rect class="services-svg" x="171.4" y="125.7" width="6.6" height="6.6"/>
									|     <rect class="services-svg" x="180.7" y="125.7" width="6.6" height="6.6"/>
									| </g>
									| </svg>
								.services-tabs__item-title
									| Проектирование обьектов
							li(data-section="services-section2").services-tabs__list-item
								.services-tabs__icon
									| <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									|      viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
									| <path class="services-svg" d="M194.8,105.4c-0.7-1-1.8-1.6-3.1-1.7l-76.7-3.3c-2.2-0.1-4,1.6-4.1,3.8c-0.1,2.2,1.6,4,3.8,4.1l71.5,3.1l-14.1,43.9h-62.6
									|     L98.2,93.7c-0.2-1.3-1.2-2.5-2.4-3l-18.5-7.3c-2-0.8-4.3,0.2-5.1,2.2c-0.8,2,0.2,4.3,2.2,5.1l16.5,6.5l11.5,62.6
									|     c0.3,1.9,2,3.2,3.9,3.2h1.9l-4.4,12.1c-0.4,1-0.2,2.1,0.4,3c0.6,0.9,1.6,1.4,2.7,1.4h3.1c-1.9,2.1-3.1,4.9-3.1,7.9
									|     c0,6.6,5.3,11.9,11.9,11.9c6.6,0,11.9-5.3,11.9-11.9c0-3.1-1.2-5.8-3.1-7.9h25.9c-1.9,2.1-3.1,4.9-3.1,7.9c0,6.6,5.3,11.9,11.9,11.9
									|     s11.9-5.3,11.9-11.9c0-3.1-1.2-5.8-3.1-7.9h3.7c1.8,0,3.3-1.5,3.3-3.3c0-1.8-1.5-3.3-3.3-3.3h-63.4l3.6-9.9H175
									|     c1.7,0,3.2-1.1,3.8-2.8l16.5-51.6C195.7,107.7,195.5,106.4,194.8,105.4L194.8,105.4z M118.8,193c-2.9,0-5.3-2.4-5.3-5.3
									|     c0-2.9,2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3C124.1,190.6,121.7,193,118.8,193L118.8,193z M162.4,193c-2.9,0-5.3-2.4-5.3-5.3
									|     c0-2.9,2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3C167.7,190.6,165.3,193,162.4,193L162.4,193z M162.4,193"/>
									| </svg>
								.services-tabs__item-title
									| Продажа оборудования
							li(data-section="services-section3").services-tabs__list-item
								.services-tabs__icon
									| <svg version="1.1" width="100" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									|      viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
									| <g>
									|     <path class="st0 services-svg" d="M92,106.9c0.4,0.7,1.1,1.2,1.8,1.4l6.9,1.7l25.2,25.2l4.1-4.1l-25.7-25.7c-0.4-0.4-0.8-0.6-1.4-0.8l-6.5-1.6
									|         l-6-10.5l4.5-4.5l10.5,6l1.6,6.5c0.1,0.5,0.4,1,0.8,1.4l25.7,25.7l4.1-4.1l-25.2-25.2l-1.7-6.9c-0.2-0.8-0.7-1.4-1.4-1.8L96,81.7
									|         c-1.1-0.7-2.6-0.5-3.5,0.5l-7.7,7.7c-0.9,0.9-1.1,2.4-0.5,3.5L92,106.9z"/>
									|
									|         <rect x="139.8" y="109.2" class="services-svg" transform="matrix(-0.7072 -0.707 0.707 -0.7072 144.5234 340.0854)" class="st0" width="5.9" height="61.9"/>
									|     <path class="st0 services-svg" d="M116.3,163.7L116.3,163.7c-0.5-0.9-1.5-1.4-2.5-1.4h-11.6c-1,0-2,0.5-2.5,1.4l-5.8,9.6c-0.6,0.9-0.6,2.1,0,3
									|         l5.8,9.6c0.5,0.9,1.5,1.4,2.5,1.4h11.6c1,0,2-0.5,2.5-1.4l5.8-9.6c0.6-0.9,0.6-2.1,0-3L116.3,163.7z M116.2,174.8l-4,6.7h-8.2
									|         l-4-6.7l4-6.7h8.2L116.2,174.8z"/>
									|     <path class="st0 services-svg" d="M196.7,170.8l-23.1-23.1c-1.1-1.1-3-1.1-4.1,0l-1,1c-0.5,0.5-1.2,0.5-1.6,0c-0.5-0.5-0.5-1.2,0-1.6l1-1
									|         c1.1-1.1,1.1-3,0-4.1l-3.7-3.7l9-9c1.4,0.3,2.8,0.4,4.2,0.4c0,0,0.1,0,0.1,0c13.2,0,24-10.7,24-24c0-2-0.2-4-0.7-6
									|         c-0.4-1.6-2-2.5-3.5-2.1c-0.5,0.1-1,0.4-1.4,0.8l-11.6,11.5l-8.5-2.8l-2.8-8.5L184.6,87c1.1-1.1,1.1-3,0-4.1
									|         c-0.4-0.4-0.9-0.6-1.4-0.8c-12.8-3.3-26,4.6-29.2,17.4c-0.5,2-0.7,4-0.7,6c0,1.4,0.1,2.8,0.4,4.2l-41.4,41.4
									|         c-1.4-0.3-2.8-0.4-4.2-0.4c-13.3,0-24.1,10.8-24.1,24.1c0,13.3,10.8,24.1,24.1,24.1c13.3,0,24.1-10.8,24.1-24.1
									|         c0-1.4-0.1-2.8-0.4-4.2l9-9l3.7,3.7c1.1,1.1,3,1.1,4.1,0l1-1c0.5-0.5,1.2-0.5,1.6,0c0.5,0.5,0.5,1.2,0,1.6l-1,1
									|         c-1.1,1.1-1.1,3,0,4.1l23,23c3.1,3.1,7.3,4.9,11.7,4.9c0,0,0.1,0,0.1,0c4.4,0,8.5-1.7,11.6-4.8
									|         C203.1,187.7,203.1,177.2,196.7,170.8z M157.4,164.5c-0.2-1.9-1-3.6-2.5-4.8c-2.4-2-5.7-2.2-8.3-0.5l-1.8-1.8l15.1-15.1l1.8,1.8
									|         c-1.9,2.9-1.3,6.8,1.4,9.1c2.4,2,5.7,2.2,8.3,0.5l21,21l-15.1,15.1l-21-21C157.2,167.6,157.5,166.1,157.4,164.5z M168.7,125.4
									|         l-42.2,42.2c-0.7,0.7-1,1.8-0.8,2.8c1.2,4.8,0.5,9.7-2,13.9c-2.5,4.2-6.5,7.2-11.3,8.4c-4.8,1.2-9.7,0.5-13.9-2
									|         c-4.2-2.5-7.2-6.5-8.4-11.3c-2.5-9.8,3.5-19.9,13.3-22.4c1.5-0.4,3-0.6,4.5-0.6c1.5,0,3.1,0.2,4.5,0.6c1,0.2,2.1-0.1,2.8-0.8
									|         l43.7-43.7c0.7-0.7,1-1.8,0.8-2.8c-1.2-4.7-0.5-9.6,2-13.8c2.5-4.2,6.4-7.1,11.1-8.3c1.1-0.3,2.2-0.5,3.3-0.5l-8.4,8.5
									|         c-0.8,0.8-1.1,1.9-0.7,3l3.9,11.6c0.3,0.9,1,1.6,1.9,1.9l11.6,3.9c1.1,0.4,2.2,0.1,3-0.7l8.4-8.4c-0.3,4.4-2.1,8.4-5.2,11.5
									|         c-3.4,3.4-8,5.4-12.8,5.4c-1.5,0-3.1-0.2-4.6-0.6c-1-0.2-2.1,0-2.8,0.8L168.7,125.4L168.7,125.4z M188.7,192.4
									|         c-1.2,0.5-2.5,0.7-3.8,0.7c0,0,0,0,0,0c-0.7,0-1.5-0.1-2.2-0.2l12.7-12.7c0.5,2.2,0.2,4.5-0.7,6.6
									|         C193.5,189.4,191.4,191.4,188.7,192.4z"/>
									|
									|         <rect x="158.9" y="168" transform="matrix(0.7071 0.7071 -0.7071 0.7071 171.6818 -72.6199)" class="st0 services-svg" width="29.2" height="5.9"/>
									| </g>
									| </svg>
								.services-tabs__item-title
									| Монтаж оборудования
									| и сервисное обслуживание
							li(data-section="services-section4").services-tabs__list-item
								.services-tabs__icon
									| <svg version="1.1" width="100" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									|      viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
									| <g>
									|     <path class="services-svg" d="M201.2,128l-8.8-7.9c-0.7-0.7-1.6-1-2.6-1h-15c-2.2,0-3.9,1.8-3.9,3.9v24c0,2.2,1.8,3.9,3.9,3.9h23.8
									|         c2.2,0,3.9-1.8,3.9-3.9v-16.1C202.5,129.8,202,128.7,201.2,128z M194.7,132.6V143h-16v-16.2h9.6L194.7,132.6z"/>
									|     <path class="services-svg" d="M116.9,163.7c-3.8,0-7.4,1.5-10.1,4.2c-2.7,2.7-4.2,6.3-4.2,10c0,3.8,1.5,7.3,4.2,10c2.7,2.7,6.3,4.1,10.1,4.1
									|         c7.8,0,14.1-6.4,14.1-14.2S124.6,163.7,116.9,163.7z M123.1,177.8c0,3.5-2.8,6.3-6.2,6.3c-3.5,0-6.4-2.9-6.4-6.3s2.9-6.3,6.4-6.3
									|         C120.3,171.5,123.1,174.3,123.1,177.8z"/>
									|     <path class="services-svg" d="M97.3,167.3h-4.9v-6.8c0-2.2-1.8-3.9-3.9-3.9c-2.2,0-3.9,1.8-3.9,3.9v10.7c0,2.2,1.8,3.9,3.9,3.9h8.8
									|         c2.2,0,3.9-1.8,3.9-3.9C101.3,169,99.5,167.3,97.3,167.3z"/>
									|     <path class="services-svg" d="M113.2,152.3c0-2.2-1.8-3.9-3.9-3.9H73.8c-2.2,0-3.9,1.8-3.9,3.9s1.8,3.9,3.9,3.9h35.5
									|         C111.4,156.2,113.2,154.5,113.2,152.3z"/>
									|     <path class="services-svg" d="M79.7,142.7l35.5,0.2c2.1,0,3.9-1.7,4-3.9c0-1.1-0.4-2.1-1.1-2.8c-0.7-0.8-1.7-1.2-2.8-1.2l-35.5-0.2
									|         c-2.2,0-3.9,1.7-3.9,3.9c0,1.1,0.4,2.1,1.1,2.8C77.6,142.3,78.6,142.7,79.7,142.7z"/>
									|     <path class="services-svg" d="M85.7,129.4h35.5c2.2,0,3.9-1.8,3.9-3.9c0-2.2-1.8-3.9-3.9-3.9H85.7c-2.2,0-3.9,1.8-3.9,3.9
									|         C81.7,127.7,83.5,129.4,85.7,129.4z"/>
									|     <path class="services-svg" d="M214.1,123.7l-21-17.4c-0.7-0.6-1.6-0.9-2.5-0.9H167v-9.5c0-2.2-1.8-3.9-3.9-3.9H88.5c-2.2,0-3.9,1.8-3.9,3.9v21.4
									|         c0,2.2,1.8,3.9,3.9,3.9c2.2,0,3.9-1.8,3.9-3.9V99.8h66.7v67.4h-23c-2.2,0-3.9,1.8-3.9,3.9c0,2.2,1.8,3.9,3.9,3.9h35.7
									|         c1,0,2-0.4,2.7-1.1c-0.3,1.2-0.5,2.5-0.5,3.8c0,3.8,1.5,7.3,4.2,10c2.7,2.7,6.3,4.1,10.1,4.1c7.8,0,14.1-6.4,14.1-14.2
									|         s-6.3-14.2-14.1-14.2c-3.8,0-7.4,1.5-10.1,4.2c-1,1-1.8,2.1-2.4,3.2c-0.1-2.1-1.8-3.8-3.9-3.8H167v-53.9h22.2l18.4,15.3l-0.2,38.6
									|         h-2c-2.2,0-3.9,1.8-3.9,3.9c0,2.2,1.8,3.9,3.9,3.9h5.9c2.2,0,3.9-1.7,3.9-3.9l0.2-44.4C215.5,125.5,215,124.4,214.1,123.7z
									|          M181.9,177.8c0-3.4,2.9-6.3,6.4-6.3c3.4,0,6.2,2.8,6.2,6.3c0,3.5-2.8,6.3-6.2,6.3C184.9,184.1,181.9,181.2,181.9,177.8z"/>
									| </g>
									| </svg>
								.services-tabs__item-title
									| Доставка оборудования
					.services-tabs__section-list
						.services-tabs__section-item.active#services-section1
							.services-tabs__section-title
								| Проектирование объектов
							ul.services-tabs__content-list
								li.services-tabs__content-list-item
									| разработка технологического проекта
									span
										| подбор необходимого оборудования
								li.services-tabs__content-list-item
									| подбор необходимого оборудования
								li.services-tabs__content-list-item
									| разработка оптимальной схемы расстановки
									span
										| с привязкой ко всем сетям и коммуникациям
						.services-tabs__section-item#services-section2
							.services-tabs__section-title
								| Продажа оборудования
							ul.services-tabs__content-list
								li.services-tabs__content-list-item
									| многолетний опыт работы в области продаж
									span
										| оборудования, посуды , расходных  материалов для предприятий общественного питания, пекарен, кондитерских, прачечных и магазинов
								li.services-tabs__content-list-item
									| в партнерстве с ведущими производителями
									| со склада и на заказ
						.services-tabs__section-item#services-section3
							.services-tabs__section-title
								| Монтаж оборудования <br>
								| и сервисное обслуживание
							ul.services-tabs__content-list
								li.services-tabs__content-list-item
									| монтаж и ввод в эксплуатацию
									span
										| оборудования на объекте заказчика
								li.services-tabs__content-list-item
									| гарантийный ремонт и обслуживание
									span
										| как на территории заказчика, так и на базе
										| сервисного центра компании
						.services-tabs__section-item#services-section4
							.services-tabs__section-title
								| Доставкаоборудования
							ul.services-tabs__content-list
								li.services-tabs__content-list-item
									| оперативная доставка и отгрузка оборудования
									span
										| железнодорожным и автотранспортом
										| в адрес заказчика
		section.consultation
			.template-wrapper.consultation-wrapper
				h2.main-title.main-title_white
					| Бесплатная консультация
				form(method="post" action="#").consultation-form.js-consultation-form
					.consultation-form__column
						.consultation-prev-text
							| Выберите направление деятельности<br> и заполните форму
						.checkbox-wrapper
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="HoReCa")
									| HoReCa
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="Retail")
									| Retail
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="Bacery")
									| Bacery
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="Мясопереработка")
									| Мясопереработка
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="Laundry")
									| Laundry
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="Запчасти (ЗИП)")
									| Запчасти (ЗИП)
							.checkbox-item
								label.checkbox-label
									input.custom-checkbox(type="checkbox" name="activity_direction" value="Проект оснащения предприятия")
									| Проект оснащения предприятия
						.form-item
							label.checkbox-label.checkbox-label_personal-data
								input.custom-checkbox(type="checkbox" required checked name="Personal_Data_Processing_Policy")
								| Согласен с <a href="#" target="_blank" class="personal-data-link">политикой обработки персональных данных</a>
					.consultation-form__column
						.form-wrapper
							.form-item
								label(for="user-phone").form-label введите номер телефона
								input.form-input.input-phone(type="text" name="user_phone" minlength="18" required maxlength="18")#user-phone
							.form-item
								label(for="user-mail").form-label или e-mail
								input.form-input(type="email" name="user_mail")#user-mail
							.form-item.form-item_submit
								button.btn.btn_form-submit(type="submit")
									span
										| Отправить
				.succes-block.succes-block_error
					.succes-block__title заявка не отправлена ...
					a.resend.js-send(href="#") Отправить ещё раз
				.succes-block.succes-block_good
					.succes-block__title Заявка  на бесплатную  консультацию отправлена
					.succes-block__text В ближайшее время наш специалист<br> свяжется с Вами
					a.resend.js-fill(href="#") Заполнить повторно
		section.range
			.template-wrapper.range-wrapper
				h2.main-title Ассортимент товаров
				.range__list
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/heating-equipment/").range__item-link
							.range__icon
								+svg_import("equip-heat")
							.range__text
								| Тепловое<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/bakery-equipment/").range__item-link
							.range__icon
								+svg_import("equip-bakery")
							.range__text
								| Хлебопекарное<br> оборудование
					.range__list-item
						a(href="https://ratorarestaurantequipment.ru/catalogue/pizza-equipment/").range__item-link
							.range__icon
								+svg_import("equip-pizza")
							.range__text
								| Оборудование<br> для пицерий
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/electromechanical-equipment/").range__item-link
							.range__icon
								+svg_import("equip-emechanical")
							.range__text
								| Электромеханическое<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/dishwashing-equipment/").range__item-link
							.range__icon
								+svg_import("equip-dishes")
							.range__text
								| Посудомоечное<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/professional-refrigeration-equipment/").range__item-link
							.range__icon
								+svg_import("equip-cold")
							.range__text
								| Холодильное<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/retail-equipment/").range__item-link
							.range__icon
								+svg_import("equip-retail")
							.range__text
								| Торговое<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/neutral-equipment/").range__item-link
							.range__icon
								+svg_import("equip-neutral")
							.range__text
								| Нейтральное<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/kitchen-utensils-and-inventory/").range__item-link
							.range__icon
								+svg_import("equip-cookware")
							.range__text
								| Посуда, аксессуары,<br> инвентарь
					.range__list-item
						a(href="https://ratorarestaurantequipment.ru/catalogue/fast-food-equipment/").range__item-link
							.range__icon
								+svg_import("equip-catering")
							.range__text
								| Оборудование<br> для фастфуда
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/equipment-for-bar/kofemashiny/").range__item-link
							.range__icon
								+svg_import("equip-coffee")
							.range__text
								| Кофейное<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/equipment-for-bar/").range__item-link
							.range__icon
								+svg_import("equip-bar")
							.range__text
								| Барное<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/laundry-equipment/").range__item-link
							.range__icon
								+svg_import("equip-laundary")
							.range__text
								| Прачечное<br> оборудование
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/sanitary-and-hygienic-equipment/").range__item-link
							.range__icon
								+svg_import("equip-wc")
							.range__text
								| Оборудование<br> для уборки и WC
					.range__list-item
						a(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue/weighing-and-packaging-equipment/").range__item-link
							.range__icon
								+svg_import("equip-pack")
							.range__text
								| Упаковочное<br> оборудование
				.show-all-wrapper
					a.show-all(target="_blank" href="https://ratorarestaurantequipment.ru/catalogue") Посмотреть в магазине
		section.producer
			.template-wrapper.producer-wrapper
				h2.main-title Производители, с которыми работаем
				.producer-list.js-producer-slider
					.producer-list__item
						img(src="images/producer_1.png" alt="CAS")
					.producer-list__item
						img(src="images/producer_2.png" alt="CRYSPI")
					.producer-list__item
						img(src="images/producer_3.png" alt="Fimar")
					.producer-list__item
						img(src="images/producer_4.png" alt="Frostor Group")
					.producer-list__item
						img(src="images/producer_5.png" alt="Hamilton Beach")
					.producer-list__item
						img(src="images/producer_6.png" alt="Hi Cold")
					.producer-list__item
						img(src="images/producer_7.png" alt="Imesa")
					.producer-list__item
						img(src="images/producer_8.png" alt="ItalFrost")
					.producer-list__item
						img(src="images/producer_9.png" alt="Rational")
					.producer-list__item
						img(src="images/producer_10.png" alt="Robot Coupe")
					.producer-list__item
						img(src="images/producer_11.png" alt="UNOX")
					.producer-list__item
						img(src="images/producer_12.png" alt="АТЕСИ")
					.producer-list__item
						img(src="images/producer_13.png" alt="Восход")
					.producer-list__item
						img(src="images/producer_14.png" alt="Balley")
					.producer-list__item
						img(src="images/producer_15.png" alt="MXM")
					.producer-list__item
						img(src="images/producer_16.png" alt="Premier")
					.producer-list__item
						img(src="images/producer_17.png" alt="POLUS")
					.producer-list__item
						img(src="images/producer_18.png" alt="Пензмаш")
					.producer-list__item
						img(src="images/producer_19.png" alt="POLAIR")
					.producer-list__item
						img(src="images/producer_20.png" alt="RADA")
					.producer-list__item
						img(src="images/producer_21.png" alt="Снеж Bonvini")
					.producer-list__item
						img(src="images/producer_22.png" alt="Торгеомаш")
					.producer-list__item
						img(src="images/producer_23.png" alt="Finist")
					.producer-list__item
						img(src="images/producer_24.png" alt="Abat")
		section.works
			.template-wrapper.works-wrapper
				h2.main-title.main-title_white Наши работы
