// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-MediumAquamarine: #29bdaa;
$color-DarkOrange: #f58022;
$color-Orange: #fcb818;
$color-Gainsboro: #e7e7e7;
$color-MintGreen: #7fd6cb;
$color-DimGrey: #292929;
$color-DimGrey_for-title: #2b2b2b;
$color-activities1-top: #92181c;
$color-activities1-bottom: #bc1c23;
$color-activities2-top: #f58022;
$color-activities2-bottom: #faa81b;
$color-activities3-top: #3023ae;
$color-activities3-bottom: #9b57cb;
$color-activities4-top: #136083;
$color-activities4-bottom: #22a19e;
$color-activities5-top: #0069ff;
$color-activities5-bottom: #1561b4;
$color-activities6-top: #13833d;
$color-activities6-bottom: #6ec325;

// FONTS
$font-family-monserat: 'Montserrat', sans-serif;
