// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-MediumAquamarine: #29bdaa;

// FONTS
$font-family-monserat: 'Montserrat', sans-serif;
