// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-MediumAquamarine: #29bdaa;
$color-DarkOrange: #f58022;
$color-Orange: #fcb818;
$color-Gainsboro: #e7e7e7;

// FONTS
$font-family-monserat: 'Montserrat', sans-serif;
