// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "_main-templates";

.header-wrapper {
	padding: 0;
	display: flex;
	align-items: flex-start;
	padding-top: 29px;
	padding-bottom: 29px;
	margin-bottom: 96px;
}
.main-nav__list {
	display: flex;
	align-items: center;
}
.main-header {
	height: 784px;
	background: url("../images/background-header.jpg") no-repeat center center;
	background-size: cover;
}
.main-logo {
	cursor: pointer;
	svg {
		fill: $color-MediumAquamarine;
		width: 153px;
		height: 40px;
	}
}
.main-nav__item a {
	font-size: 13px;
	color: $color-white;
	font-weight: 500;
	transition: .3s ease;
}
.main-nav__item a:hover {
	color: $color-MediumAquamarine;
}
.main-nav {
	margin-left: auto;
	margin-top: 10px;
}
.header-phone {
	color: $color-white;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 8px;
}
.main-phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 10px;
	margin-left: 31px;
}
.callback {
	color: $color-MediumAquamarine;
	font-weight: 500;
	line-height: 16px;
	font-size: 14px;
	transition: .3s ease;
	border-bottom: 1px solid rgba(41,189,170,.3);
}
.callback:hover {
	border-color: rgba(41,189,170,.6);
}
.header-information__title {
	color: $color-white;
	font-size: 36px;
	line-height: 48px;
	font-weight: 900;
	max-width: 540px;
	margin-bottom: 10px;
}
.header-information__prev-text {
	color: $color-MediumAquamarine;
	font-size: 24px;
	margin-bottom: 62px;
}
.main-nav__item + .main-nav__item {
	margin-left: 38px;
}
.main-nav__item.active::before {
	content: '';
	width: 2px;
	height: 12px;
	background-color: $color-MediumAquamarine;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-12px, calc(-50% - 1px));
}
.main-nav__item {
	position: relative;
}
.header-information__services {
	display: flex;
	align-items: flex-start;
}
.header-information__services-item {
	color: $color-white;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	padding-right: 16px;
	padding-left: 16px;
	width: 18%;
	position: relative;
	margin-right: 3px;
}
.header-information__services-item::before {
	content: '';
	width: 2px;
	height: 8px;
	background: $color-MediumAquamarine;
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
}
.stock-slider__list {
	width: 100%;
	box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.3);
	background: #ffffff;
}
.stock-slider__img {
	width: 100%;
}
.stock-slider__item {
	position: relative;
	display: block !important;
}
.btn {
	font-weight: 500;
	font-size: 17px;
	color: $color-white;
	padding: 20px 40px;
	position: relative;
	overflow: hidden;
	span {
		position: relative;
		z-index: 2;
	}
	&::before, &::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: .3s ease;
		background-size: 103%;
	}
	&::before {
		background-image: linear-gradient(to right, $color-DarkOrange, $color-Orange);
	}
	&::after {
		background-image: linear-gradient(to right, $color-Orange, $color-DarkOrange);
		transform: translateX(calc(-100% + 1px));
		//width: calc(100% + 1px);
	}
}
.btn:hover {
	&::before {
		transform: translateX(100%);
	}
	&::after {
		transform: translateX(0);
	}
}
.btn-more {
	position: absolute;
	bottom: 77px;
	right: 63px;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -35px;
	transform: translateY(100%);
	li {
		margin: 0;
		height: auto;
		width: auto;
		button {
			padding: 0;
			width: 21px;
			height: 21px;
			border-radius: 50%;
			background: $color-Gainsboro;
			transition: .3s ease;
			&::before {
				content: none;
			}
			&:hover {
				background: $color-MediumAquamarine;
			}
		}
	&.slick-active button {
		background: $color-MediumAquamarine;
	}
	}
	li + li {
		margin-left: 15px;
	}
}
.slider-arrow {
	width: 57px;
	height: 53px;
	position: static;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: none;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: .3s ease;
	&::before {
		content: none;
	}
	&:hover, &:focus {
		border-color: $color-MintGreen;
		background: $color-MediumAquamarine;
		.slider-arrow-path {
			fill: #ffffff;
		}
	}
	&:focus {
		outline: none !important;
	}
}
.slider-arrow-wrapper {
	position: absolute;
	bottom: -17px;
	right: 0;
	display: inline-flex;
	align-items: flex-start;
	transform: translateY(100%);
	z-index: 2;
}
.slider-arrow-path {
	transition: .3s ease;
}
.stock-slider {
	transform: translateY(-87px);
	margin-bottom: -13px;
	min-height: 100px;
}
.activities__list {
	display: flex;
	flex-wrap: wrap;
}
.activities__list-item {
	width: 50%;
	display: flex;
	&:hover .activities__picture img {
		transform: scale(1.03);
	}
}
.activities {
	background: $color-DimGrey;
	position: relative;
	padding-bottom: 117px;
	&::before {
		content: '';
		width: 100%;
		height: 151px;
		background: #ffffff;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.main-title {
	font-size: 30px;
	line-height: 38px;
	color: $color-DimGrey_for-title;
	font-weight: 900;
	margin-bottom: 47px;
}
.activities__information_1 {
	background-image: linear-gradient(135deg, $color-activities1-top, $color-activities1-bottom);
}
.activities__information_2 {
	background-image: linear-gradient(135deg, $color-activities2-top, $color-activities2-bottom);
}
.activities__information_3 {
	 background-image: linear-gradient(135deg, $color-activities3-top, $color-activities3-bottom);
 }
.activities__information_4 {
	background-image: linear-gradient(135deg, $color-activities4-top, $color-activities4-bottom);
}
.activities__information_5 {
	 background-image: linear-gradient(135deg, $color-activities5-top, $color-activities5-bottom);
 }
.activities__information_6 {
	background-image: linear-gradient(135deg, $color-activities6-top, $color-activities6-bottom);
}
.activities__information {
	width: 312px;
	padding: 28px 39px;
}
.activities__title {
	font-weight: 900;
	font-size: 18px;
	line-height: 37px;
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 2px;
}
.activities__text {
	font-weight: 500;
	font-size: 13px;
	line-height: 23px;
	color: #ffffff;
}
.activities__picture img {
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
	width: 100%;
	height: 100%;
	transition: .3s ease;
}
.activities-wrapper {
	position: relative;
	//transform: translateY(-151px);
}
.services-tabs {
	display: flex;
}
.services-tabs__list-block {
	width: 500px;
	flex-shrink: 0;
	margin-right: 40px;
}
.services-tabs__icon {
	width: 98px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: -4px 8px 17.43px 3.57px rgba(63, 63, 63, 0.08);
}
.services-tabs__list-item {
	min-height: 100px;
	display: flex;
	box-shadow: -4px 8px 17.43px 3.57px rgba(63, 63, 63, 0.08);
	transition: .3s ease;
	cursor: pointer;
	& + .services-tabs__list-item {
		margin-top: 7px;
	}
	&:hover .services-svg, &.active .services-svg {
		fill: $color-MediumAquamarine;
	}
	&:hover .services-tabs__item-title, &.active .services-tabs__item-title {
		color: $color-MediumAquamarine;
	}
	&:hover, &.active {
		margin-left: 25px;
	}
}
.services-tabs__item-title {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	color: $color-DimGrey;
	display: flex;
	align-items: center;
	flex-grow: 1;
	letter-spacing: 1px;
	padding: 0 59px;
	transition: .3s ease;
}
.activities__image {
	overflow: hidden;
}
.services-svg {
	transition: .3s ease;
}
.services-tabs__section-item {
	display: none;
	&.active {
		display: block;
	}
}
.services-tabs__section-list {
	border: 4px solid $color-MediumAquamarine;
	padding: 50px 50px 50px 143px;
	flex-grow: 1;
}
.services-tabs__section-title {
	font-weight: 900;
	font-size: 14px;
	line-height: 23px;
	color: $color-darkBlack;
	text-transform: uppercase;
	margin-bottom: 65px;
}
.services {
	padding-top: 70px;
	padding-bottom: 118px;
}
.services-tabs__content-list-item {
	position: relative;
	font-size: 13px;
	color: $color-darkBlack;
	font-weight: 900;
	padding-left: 10px;
	line-height: 27px;
	span {
		font-weight: 400;
		display: block;
	}
	& + & {
		margin-top: 18px;
	}
}
.services-tabs__content-list-item::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 11px;
	background-color: $color-MediumAquamarine;
	top: 9px;
	left: 0;
}
.consultation {
	width: 100%;
	background: url("../images/background-consultation.jpg") no-repeat top center;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 117px;
}
.consultation-form {
	display: flex;
	margin-top: 55px;
	&.hide-information {
		display: none;
	}
}
.main-title_white {
	color: $color-white;
}
.consultation-prev-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.6;
	color: $color-white;
	margin-bottom: 53px;
}
.consultation-form__column:first-child {
	width: 540px;
}
.checkbox-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-right: 65px;
	margin-bottom: 35px;
}
.checkbox-item {
	width: 50%;
	margin-bottom: 37px;
}
.checkbox-label {
	font-size: 18px;
	color: $color-white;
	font-weight: 500;
	padding-left: 55px;
	position: relative;
	cursor: pointer;
	&::before, &::after {
		content: '';
		border-radius: 3px;
		border: 2px solid $color-MediumAquamarine;
		transition: .3s ease;
		background-color: transparent;
		width: 26px;
		height: 26px;
		position: absolute;
		left: 0;
		top: -3px;
	}
	&::after {
		background: url("../images/checked.svg") no-repeat;
		left: 6px;
		top: -3px;
		border: none;
		opacity: 0;
	}
	&.active::after {
		opacity: 1;
	}
	&.active::before {
		background-color: $color-MediumAquamarine;
	}
}
.custom-checkbox {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
}
.checkbox-item:last-child {
	width: 100%;
}
.checkbox-label_personal-data {
	font-size: 13px;
	font-weight: 300;
}
.personal-data-link {
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,.3);
	transition: .3s ease;
	&:hover {
		border-color: rgba(255,255,255,.6);
	}
}
.form-wrapper {
	border: 4px solid $color-steelblue;
	margin-top: 6px;
	padding: 90px 105px 108px 105px;
	position: relative;
}
.consultation-form__column:last-child {
	flex-grow: 1;
}
.form-item {
	display: flex;
	flex-direction: column;
	& + & {
		margin-top: 29px;
	}
}
.form-label {
	font-weight: 500;
	font-size: 13px;
	color: $color-white;
	margin-bottom: 15px;
}
.form-input {
	background: $color-white;
	height: 56px;
	border: 1px solid transparent;
	padding: 0 29px;
	font-size: 13px;
	font-weight: 600;
	color: #020202;
}
.form-item_submit {
	position: absolute;
}
.btn_form-submit {
	width: 253px;
}
.form-item_submit {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 50%);
}
.succes-block {
	width: 100%;
	border: 4px solid $color-steelblue;
	//display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 135px 30px 70px;
	display: none;
	&.show {
		display: flex;
	}
}
.succes-block__title {
	font-weight: 500;
	font-size: 17px;
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 46px;
}
.resend {
	font-weight: 900;
	color: $color-white;
	font-size: 17px;
	transition: .3s ease;
	border-bottom: 1px solid rgba(255,255,255,.3);
	&:hover {
		border-color: rgba(255,255,255,.6);
	}
}
.succes-block__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: $color-white;
	text-align: center;
	margin-bottom: 60px;
}
.form-input + .error {
	display: none !important;
}
.checkbox-label label.error {
	position: absolute;
	width: 26px;
	height: 26px;
	border: 2px solid #ff252d;
	display: block;
	left: 0;
	top: -3px;
	border-radius: 3px;
	font-size: 0;
}
.form-input.error {
	border-color: #ff252d;
	background: #ffeced;
	-webkit-box-shadow: inset 0 0 0 50px #ffeced !important;
}
.range__list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 72px;
}
.range__list-item {
	width: 20%;
	display: flex;flex-direction: column;
	align-items: center;
	margin-bottom: 101px;
}
.range__icon {
	margin-bottom: 15px;
	svg {
		height: 76px;
		fill: $color-MediumAquamarine;
	}
}

.range__text {
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	color: $color-lightGrey;
	text-align: center;
	transition: .3s ease;
}
.range {
	padding-top: 70px;
	padding-bottom: 117px;
}
.range__item-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	&:hover .range__text, &:focus {
		color: $color-MediumAquamarine;
		text-decoration: underline;
	}
}
.range__item-link:focus {
	outline: none !important;
}
.show-all {
	color: $color-MediumAquamarine;
	font-size: 16px;
	line-height: 17px;
	font-weight: 600;
	border-bottom: 1px solid rgba(41, 189, 170, .3);
	transition: .3s ease;
	margin-right: 51px;
}
.show-all:hover {
	border-color: rgba(41,189,170,.6);
}
.show-all-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-top: -29px;
}
.producer-list__item {
	padding-right: 20px;
	padding-left: 20px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.producer-list {
	.slick-track {
		display: flex;
		align-items: center;
	}
}
.producer {
	padding-top: 70px;
	padding-bottom: 117px;
}
.producer-list {
	margin-top: 67px;
	& .slider-arrow-wrapper {
		bottom: -42px;
	}
}
