// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "_main-templates";

.header-wrapper {
	padding: 0;
	display: flex;
	align-items: flex-start;
	padding-top: 29px;
	padding-bottom: 29px;
	margin-bottom: 96px;
}
.main-nav__list {
	display: flex;
	align-items: center;
}
.main-header {
	height: 784px;
	background: url("../images/background-header.jpg") no-repeat center center;
	background-size: cover;
}
.main-logo {
	cursor: pointer;
	svg {
		fill: $color-MediumAquamarine;
		width: 153px;
		height: 40px;
	}
}
.main-nav__item a {
	font-size: 13px;
	color: $color-white;
	font-weight: 500;
	transition: .3s ease;
}
.main-nav__item a:hover {
	color: $color-MediumAquamarine;
}
.main-nav {
	margin-left: auto;
	margin-top: 10px;
}
.header-phone {
	color: $color-white;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 8px;
}
.main-phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 10px;
	margin-left: 31px;
}
.callback {
	color: $color-MediumAquamarine;
	font-weight: 500;
	line-height: 16px;
	font-size: 14px;
	transition: .3s ease;
	border-bottom: 1px solid rgba(41,189,170,.3);
}
.callback:hover {
	border-color: rgba(41,189,170,.6);
}
.header-information__title {
	color: $color-white;
	font-size: 36px;
	line-height: 48px;
	font-weight: 900;
	max-width: 540px;
	margin-bottom: 10px;
}
.header-information__prev-text {
	color: $color-MediumAquamarine;
	font-size: 24px;
	margin-bottom: 62px;
}
.main-nav__item + .main-nav__item {
	margin-left: 38px;
}
.main-nav__item.active::before {
	content: '';
	width: 2px;
	height: 12px;
	background-color: $color-MediumAquamarine;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-12px, calc(-50% - 1px));
}
.main-nav__item {
	position: relative;
}
.header-information__services {
	display: flex;
	align-items: flex-start;
}
.header-information__services-item {
	color: $color-white;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	padding-right: 16px;
	padding-left: 16px;
	width: 18%;
	position: relative;
	margin-right: 3px;
}
.header-information__services-item::before {
	content: '';
	width: 2px;
	height: 8px;
	background: $color-MediumAquamarine;
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
}
.stock-slider__list {
	width: 100%;
	box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.3);
}
.stock-slider__img {
	width: 100%;
}
.stock-slider__item {
	position: relative;
	display: block !important;
}
.btn {
	font-weight: 500;
	font-size: 17px;
	color: $color-white;
	padding: 20px 40px;
	position: relative;
	overflow: hidden;
	span {
		position: relative;
		z-index: 2;
	}
	&::before, &::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: .3s ease;
	}
	&::before {
		background-image: linear-gradient(to right, $color-DarkOrange, $color-Orange);
	}
	&::after {
		background-image: linear-gradient(to right, $color-Orange, $color-DarkOrange);
		transform: translateX(calc(-100% + 1px));
	}
}
.btn:hover {
	&::before {
		transform: translateX(100%);
	}
	&::after {
		transform: translateX(0);
	}
}
.btn-more {
	position: absolute;
	bottom: 77px;
	right: 63px;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		margin: 0;
		height: auto;
		width: auto;
		button {
			padding: 0;
			width: 21px;
			height: 21px;
			border-radius: 50%;
			background: $color-Gainsboro;
			&::before {
				content: none;
			}
		}
	}

}
